.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-link {
    color: #09d3ac;
}

.col1 {
  float: left;
  width: 40%;
}
.col2{
  float: right;
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.admin-element {
  display: block;
}
