.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-link {
    color: #09d3ac;
}

.col1About {
  float: left;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.col2About{
  float: right;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.rowAbout:after {
  content: "";
  display: table;
  clear: both;
}

#about-button {
  margin-left: 43%;
  margin-top: 20px;
}
#image-button {
  margin-left: 39%;
  margin-top: 20px;
}

button {
  color: #2A324B;
}

#abtDonateButton {
  text-align: center;
  margin-top: 100px;
}

#about-donate-button {
  background-color: #0f1147;
  color: white;
  border: none;
  padding: 10px 14px;
}

#about-donate-button:hover {
  background-color: #17195c;
}
