
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

.page-container {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: 'Noto Serif', serif;
  color: black;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.admin-element {
  display: block;
  background-color: #394770;
  color: white;
  border: none;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 14px;
}
.admin-element:hover{
  background-color: #546494;
  color: white;
}
body, html {
    height: 100%;
    margin: 0;
}

#icon-credits {
  text-align: center;
}
