
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

.page-container {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #D3D5D4;
  font-family: 'Noto Serif', serif;
  color: #2A324B;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
