#donate-button {
  background-color: #C4D5E3;
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: block;
  font-size: 16px;

}
#donate-button:hover {
  background-color: #B1C7DA;
  text-decoration: none;
}

.footernav {
  display: block;
  background-color: #0f1147;
  height: 80px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.buttonDiv {
  margin-top: 20px;
  display: inline-block;
  margin-left: 22.5%;
}
.footer-left {
  display: inline;
  margin-left: 10px;
}

.footer-link {
  color: white;
  margin-left: 20px;
}


.footer-right {
  display: inline;
  float: right;
  margin-top: 2%;
  margin-right: 10px;
  color: white;
}
#socialmedia {
  display: inline;
}
.socialmedia-logo {
  margin-right: 10px;
}
