#register-page {
  background: url(../../assets/background-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#register-form {
  background-color: #0f1147;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
#register-title {
  color: white;
  font-size: 32px;
  text-align: center;
}

.register-fields {
  width: 30%;
  margin: auto;
}

.password-fields {
  text-align: center;
  margin-bottom: 15px;
}

#register-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


#to-login {
  text-align: center;
  font-size: 12px;
}

#register-content {
  text-align: center;
}

#login-link {
  color: white;
}

#login-link:hover {
  text-decoration: none;
  color: gray;
}
