@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

#start-page-bg {
  position: relative;
  background: url(../../assets/background-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#start-page-content{
  text-align: center;
  margin: 50px;
  background-color: #e4eaeb;
  border-radius: 2%;
  position: absolute;
  left: 21%;
  padding: 10px;
}

#button-div{
  position: absolute;
  width: 99%;
  text-align: right;
  margin-top: 10px;
}

#start-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 84px;
  margin-bottom: 100px;
}

.text-loop {
  font-family: 'Kalam', cursive;
  font-size: 32px;
}

#start-login-button{
  background-color: #c6e5fc;
  border: none;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5%;
}

#start-login-button a {
  color: #006cf0;
  padding: 5px 12px;
}

#learn-more-button {
  background-color: #0f1147;
  border: none;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5%;
  margin-top: 100px;
}

#learn-more-button a {
  color: #006cf0;
  padding: 10px 50px;
}

#learn-more-button a {
  color: white;
}


#start-login-button:hover { background-color: #B1C7DA;}
#learn-more-button:hover { background-color: #1e206b;}
#start-login-button:hover a, #learn-more-button:hover a {text-decoration: none;}

#learn-more-button:hover a {
  color: white;
}
